<!-- Header -->
<div class="restricted-header header pb-8 pt-8 d-flex align-items-center" style="background-image: url(/assets/img/8user-min.png); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
</div>