<div id="section-4" class="basic-3">
    <div class="container" style="margin-top:40px;background: #000000b5;padding: 60px;border-radius: 100px;font-weight: 600;color: white;text-align: justify;">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="margin-bottom:20px">{{ 'GUIDELINES_TITLE'|trans }}</h2>
                <h4 style="color:white">{{ 'GUIDELINES_CAPTION'|trans}}</h4>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art. 1) La  Banca del tempo  è promossa da un gruppo di cittadini che ha sentito il desiderio e la necessità di stimolare la solidarietà e l’avvicinamento tra le persone;
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art. 2) La  Banca del tempo  ha come scopo la promozione di iniziative atte a favorire lo scambio di attività e di servizi tra persone (come singoli e/o come nuclei familiari), senza alcuna intermediazione di carattere monetario ed aventi, pertanto, come unità di quantificazione il  tempo  impiegato, e questo alfine di valorizzare i rapporti umani e solidali.Tali prestazioni comunque non dovranno mai poter essere configurate e neppure assimilate a rapporti di lavoro autonomo e subordinato.
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art. 3) Gli scambi avvengono a partire dal bisogno  del  singolo partecipante. L´interessato ad una determinata prestazione dovrà contattare la segreteria  del la BdT esprimendo la sua necessità. Sarà la segreteria stessa a mettersi in contatto con gli offerenti per facilitare lo scambio. La segreteria dovrà essere informata da entrambe le parti sul credito/debito maturato al termine della prestazione;
                Non è prevista alcuna transizione in denaro e/o valori nello scambio di prestazioni fra i partecipanti. E´ ammessa la circolazione di denaro unicamente per l´eventuale rimborso, previamente concordato,  del le spese realmente sostenute.
                Un´ora di  tempo  impiegato è sempre un´ora, a prescindere dalla prestazione offerta.
                I rapporti di credito e debito di ogni singolo partecipante sono attuati unicamente con la BdT e non direttamente tra gli aderenti.
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art. 4) L´adesione avviene abitualmente presso la sede  del la  Banca   del   Tempo, a Pavia c/o la sede decentrata del Comune di Pavia in via Acerbi 27, o in occasione di eventi dove saranno presenti incaricati della BdT.
                L´adesione comporta la sottoscrizione del modulo di adesione, con la  presentazione di un documento valido di riconoscimento e ad un colloquio conoscitivo
                L’adesione è considerata perfezionata solo dopo il colloquio conoscitivo da parte di un nostro incaricato che, con la propria firma di assenso all’adesione, e con l’invio della tessera d’iscrizione e del regolamento via mail.
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art.5) La  Banca del tempo  invierà via mail un estratto  conto periodico con la contabilità degli scambi effettuati.
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art. 6) L´unità di misura  del le prestazioni è unicamente il  tempo , calcolato in ore. Sono esclusi ulteriori frazionamenti. Rimane valida tra i partecipanti la contrattazione per un arrotondamento in eccesso o per difetto. L´eventuale  tempo  impiegato negli spostamenti effettuati per erogare la prestazione può essere computato previo accordo fra i partecipanti allo scambio.
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art. 7) In caso di disaccordo tra i partecipanti allo scambio, l´assemblea è chiamata a pronunciarsi in merito al contenzioso. Per evitare tali controversie, si consiglia agli associati che si accingono a scambiare di definire preventivamente quanto potranno essere le ore impegnate e gli eventuali costi (rimborsi spese) che potranno manifestarsi.
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art. 8) Il fondo ore è una sorta di capitale sociale gestito dall´assemblea degli associati.
                Può essere utilizzato per:
                Coprire le ore di attività di gestione amministrativa ed organizzativa della BdT;
                Aiutare partecipanti che si trovino in forte debito ed impossibilitati ad effettuare scambi;
                Per destinazioni esterne.
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art. 9) La tessera d’iscrizione ha la validità di 12 mesi poi andrà rinnovata, la Banca del Tempo invierà comunicazione di tale scadenza.
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <hr style="background: white;max-width: 600px;">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-12">
                Art. 10) Le modifiche al  regolamento  vengono definite nell´ambito  del l´assemblea dei soci.
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of about -->










