{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('restricted') }}
{% endblock %}

{% block body %}

    {% include('restricted/commons/listing-notifications.html.twig') %}
    {% include('restricted/commons/offcanvas-menu-right.html.twig') %}

    <div id="main" class="main-content">
        {% include 'restricted/commons/navbar.html.twig' %}
        {% include 'restricted/commons/header.html.twig' %}
        <!-- Page content -->
        <div class="container-fluid mt--7">

            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 d-none d-lg-block">

                    {% include('restricted/activity/partials/next-activity.html.twig') %}
                    <hr class="my-4">
                    {% include('restricted/user-profile/partials/card.profile.html.twig') %}

                </div>
                <div class="col-xl-8 order-xl-1">

                    <!-- Preloader -->
                    {% include('public/commons/spinner.html.twig') %}
                    <!-- end of preloader -->

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="display-2">{{ 'ACTIVITY_CALENDAR_TITLE'|trans }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="calendar-holder" data-calendar-role="USER" data-events-url="{{ path('fc_load_events') }}"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'restricted/commons/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('restricted') }}
{% endblock %}