<p>Ciao, {{ user.name }} {{ user.surname }}</p>
<p>Hai cambiato la tua password su Banca del Tempo in data {{ "now"|date('d/m/Y H:i') }}</p>
<p>Attenzione: se non hai cambiato la password controlla il tuo account!</p>