<img class="img-fluid tipa" src="assets/img/1-min.png" alt="alternative">

<div style="background:#15243c">
    <div class="container">
        <div class="row">
            <div class="col-1"></div> <!-- end of col -->
            <div class="col-4">
                <a class="btn btn-block btn-success" href="{{ path('app_login') }}">{{ 'LOGIN'|trans }}</a>
            </div> <!-- end of col -->
            <div class="col-2"></div> <!-- end of col -->
            <div class="col-4">
                <a class="btn btn-block btn-success" href="{{ path('app_register') }}">{{ 'REGISTER_CTA'|trans }}</a>
            </div> <!-- end of col -->
            <div class="col-1"></div> <!-- end of col -->
        </div> <!-- end of row -->
    </div>
</div>


