<div id="section-2" class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Video Preview -->
                <div class="image-container">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=_p_leIMmLBo" data-effect="fadeIn">
                            <img class="img-fluid border-wide" src="assets/img/video.png" alt="alternative">
                            <span class="video-play-button">
                                <span></span>
                            </span>
                        </a>
                    </div> <!-- end of video-wrapper -->
                </div> <!-- end of image-container -->
                <!-- end of video preview -->
                <h2 style="color:black; margin-bottom:15px">{{ 'HOME_VIDEO_TITLE'|trans }}</h2>
                <p style="padding:20px;color:black;text-align:justify;margin-bottom:40px;font-size:1.2rem"><b>{{ 'HOME_VIDEO_CAPTION'|trans }}</b></p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of video -->