<div class="card card-profile shadow">
    <div class="row align-items-center" style="margin-left: 10px;margin-top: 10px;margin-right: 20px;">
        <div class="col-12">
            <h6 class="heading-small" style="color:darkred">{{ 'USER_PROFILE_DELETE_AREA'|trans }}</h6>
            <p class="heading-small mb-4" style="color:darkred">{{ 'USER_PROFILE_DELETE_HINT'|trans|raw }}</p>
        </div>
    </div>
    <div class="card-body pt-0 pt-md-4">
        <a class="btn btn-block btn-danger del-user" href="javascript:void(0)">{{ 'USER_PROFILE_DELETE_CTA'|trans }}</a>
    </div>
</div>