<form id="delete-profile-form" method="post" action="{{ path('delete_user_profile')}}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
</form>